<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <a href="/main">/main</a><br>
        <a href="/sample">/sample</a><br>
        <a href="/sample2">Error 404</a><br>
        <a href="/sample/asdfghjkl">/sample/asdfghjkl</a>
        <h1>{{ pagename }}</h1>
        {% block content%}{% endblock %}
    </body>
</html>